<container>
<row center>
  <column xs="12" center>
    <md-input-container>
      <input mdInput placeholder="Email" [(ngModel)]="email">
    </md-input-container>
  </column>
  <column xs="12" center>
    <md-input-container>
      <input type="password" mdInput placeholder="Password" [(ngModel)]="password">
    </md-input-container>
  </column>
</row>
<row>
  <column sm="12" style="text-align: center">
    <button (click)="login()" md-raised-button>Login</button>
  </column>
</row>
</container>
